.custom-header-top-bar{
background-color:#ffc7ed!important;
}
.custom-header-bottom{
color:#6045e2!important;
}
.custom-header-bottom .email-text{
color:#6045e2!important;
}
.custom-lang-switch-btn{
color:#6045e2!important;
}
.custom-lang-switch-btn:hover{
color:#6045e2!important;
}