#section_239_widget_466{
background-color:transparent ;
}
#section_239_widget_465{
background-color:transparent ;
}
#section_239_widget_467{
background-color:transparent ;
}
#section_244_19{
background-size:cover !important;
background-color:transparent ;
}
#section_243_19{
background-color:#f0f0f0 !important;
}
#section_243_widget_469 span{
color:#bd9700;
}
#section_243_widget_469{
background-color:transparent ;
}
#section_243_widget_469 h1{
color:#bd9700;
}
#section_244_widget_470{
background-color:transparent ;
}
#section_244_widget_470 a{
background-color:#bd9700 !important;
font-size:25px !important;
}
#section_244_widget_470 a:hover {
color:#ff0000 !important;
}
#section_244_widget_471{
background-color:transparent ;
}
#section_244_widget_471 a{
background-color:#bd9700 !important;
font-size:25px !important;
}
#section_244_widget_471 a:hover {
color:#ff0000 !important;
}
#section_244_widget_472{
background-color:transparent ;
}
#section_244_widget_472 a{
background-color:#bd9700 !important;
font-size:25px !important;
}
#section_244_widget_472 a:hover {
color:#ff0000 !important;
}
#section_256_19{
background-color:#bd9700 !important;
margin-top:100px !important;
}
#section_256_widget_493{
background-color:transparent ;
}
#section_239_widget_495{
background-color:transparent ;
}
#section_258_widget_494{
background-color:transparent ;
}
#section_258_19{
background-color:transparent ;
}
#section_260_widget_501{
background-color:transparent ;
}
#section_259_widget_496{
background-color:transparent ;
}